<div class="timers-list">
    @{
        for (int i = 0; i < 10; i++)
        {
            <div class="timer">
                <div class="timer-body">Название - Описание</div>
                <div class="timer-button timer-button-repeat"></div>
                <div class="timer-button timer-button-play"></div>
                <div class="timer-button timer-button-stop"></div>
                <div class="timer-button timer-button-delete"></div>
            </div>
        }
    }
</div>