<div class="timers-list">
    <div class="timer">
        <div class="timer-body">Название - Описание</div>
        <div class="timer-buttons">
            <div class="timer-play">Старт/Пауза</div>
            <div class="timer-item">Repeat</div>
            <div class="timer-item">Stop</div>
            <div class="timer-item">Delete</div>
        </div>
    </div>
</div>